@model HomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <button onclick="topFunction()" id="myBtn"><i class="fa-solid fa-angle-up"></i></button>
    <div class="main-slider">
        @foreach (var item in Model.Sliders)
        {
            <div class="slider-1">
                <img src="~/assets/img/slider/@item.Img" alt="">
                <div class="text">
                    <h1>@item.Header</h1>
                    <p>@item.Title</p>
                </div>
            </div>

        }
    </div>
    <div class="section-1">
        <div class="container">
            <div class="row">

                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="top">
                            <h2>@Model.aboutBanners.Header</h2>
                        <p>@Model.aboutBanners.Title</p>
                        </div>
                        <div class="bottom">
                        <p>@Model.aboutBanners.Description</p>
                            <a class="btn" asp-controller="about" asp-action="Index">
                                <span>MORE DETAILS</span>
                                <i class="fa fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="images">
                            <div class="image-1">
                            <img src="~/assets/img/allimg/@Model.aboutBanners.Image" alt="">
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="favorite-rooms">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>OUR FAVORITE ROOMS</h2>
                    <p>Check out now our best rooms</p>
                </div>
                <div class="col-lg-6">
                    <div class="left">
                        <div class="card">
                            <div class="image">
                                <img src="~/assets/img/allimg/@Model.FavoriteRoomSingle.Image" alt="">
                                <div class="room-price">
                                    <p>€@Model.FavoriteRoomSingle.Price <span>/ night</span></p>
                                </div>
                            </div>
                            <div class="room-details">
                                <h5>@Model.FavoriteRoomSingle.Name</h5>
                                <div class="room-services">
                                    <i class="fa fa-glass"></i>
                                    <i class="fa fa-bath"></i>
                                    <i class="fa fa-wifi"></i>
                                    <i class="fa fa-cutlery"></i>
                                    <i class="fa fa-coffee"></i>
                                    <i class="fa fa-female"></i>
                                    <i class="fa fa-mobile"></i>
                                    <i class="fa fa-television"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right">
                        @foreach (var item in Model.FavoriteRooms)
                        {
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="image">
                                        <img src="~/assets/img/allimg/@item.Image" alt="">
                                        <div class="room-price">
                                            <p>€@item.Price <span>/ night</span></p>
                                        </div>
                                    </div>
                                    <div class="room-details">
                                        <h5>@item.Name</h5>
                                        <div class="room-services">
                                            <i class="fa fa-wifi"></i>
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-bath"></i>
                                            <i class="fa fa-coffee"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="all-rooms">
                    <a class="btn" asp-controller="room" asp-action="index">
                        <span>VIEW ALL ROOMS</span>
                        <i class="fa fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="awesome-services">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>OUR AWESOME SERVICES</h2>
                    <p>Check out our awesome services</p>
                </div>
                <div class="services">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="left">
                            <div class="image">
                                <img src="https://demo.zantetheme.com/wp-content/uploads/2018/04/restaurant.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="right">
                            @foreach (var item in Model.services)
                            {
                                <div class="service">
                                    <div class="image">
                                        <img src="~/assets/img/allimg/@item.Image" alt="">
                                    </div>
                                    <div class="content">
                                        <h5>@item.Title</h5>
                                        <p>@item.Desc</p>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="@Model.poster.VidLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="discover">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>DISCOVER GREECE</h2>
                    <p>Places you must explore this summer</p>
                </div>
                <div class="col-lg-6">
                    <div class="left">
                        <div class="item">
                            <div class="image">
                                <img src="https://demo.zantetheme.com/wp-content/uploads/2018/03/slider-3-720x470.jpg" alt="">
                                <h5>Navagio</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right">
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="top-image image">
                                    <img src="https://demo.zantetheme.com/wp-content/uploads/2018/04/zakynthos-1-720x470.jpg" alt="">
                                    <h5>Zakynthos</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <div class="image">
                                    <img src="https://demo.zantetheme.com/wp-content/uploads/2018/04/santorini-720x470.jpg" alt="">
                                    <h5>Santorini</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <div class="image">
                                    <img src="https://demo.zantetheme.com/wp-content/uploads/2018/04/acropolis-720x470.jpg" alt="">
                                    <h5>Acropolis</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section css {
    <link rel="stylesheet" href="assets/css/home.css">
}

